production:
  adapter: postgresql
  database: {{ project_name }}_production
  pool: 25
  timeout: 5000
  host: localhost
  username: Rails.application.credentials.user_pg
  password: Rails.application.credentials.postgres_user_pass
