server {
  listen 80;
  server_name servername;

  access_log /var/log/nginx/ner.access.log;
  error_log  /var/log/nginx/ner.error.log;

  passenger_enabled on;
  passenger_ruby {{ passenger_ruby_path }};
  rails_env production;
  root {{ project_path }}/public;
}
